aiogram==3.20.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
python-dotenv==1.1.1
aiofiles==24.1.0
httpx==0.28.1
requests==2.32.4
ffmpeg-python==0.2.0
pydub==0.25.1
openai-whisper
torch
torchaudio
transformers
sentencepiece
deep-translator
redis
celery
python-multipart
jinja2
